.highrisk-blog-container {
  max-width: 920px;
  margin: auto;
  padding: 2rem;
  font-family: 'Segoe UI', sans-serif;
  background: #fff;
  color: #BC1F6E;
  line-height: 1.7;
}

.highrisk-blog-container h1 {
  color: #BC1F6E;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 800;
}

.high-risk-subheading {
  font-size: 1.1rem;
  color: #BC1F6E;
  margin-bottom: 1.8rem;
  text-align: center;
  font-weight: 600;
  padding-bottom: 20px;
}

.highrisk-blog-container section {
  margin-bottom: 2rem;
}

.highrisk-blog-container h2 {
  font-size: 1.4rem;
  color: #bc1f6dae;
  border-bottom: 2px solid #f3e5f5;
  padding-bottom: 0.3rem;
  margin-bottom: 0.8rem;
}

.highrisk-blog-container ul {
  padding-left: 1.4rem;
}

.highrisk-blog-container ul li {
  margin-bottom: 0.5rem;
}

.cta-box {
  background-color: #fff3e0;
  border-left: 6px solid #ef6c00;
  padding: 1rem;
  font-weight: bold;
  margin-top: 1.2rem;
  color: #e65100;
}
